<div class="main-class">
  <p-button class="button-class"
    label="Your journey with us doesn’t end when the session does—explore our archived recordings anytime you need."
    severity="warn">
  </p-button>
  <div class="button-container">
    <div class="left-side">
      <p-card class="item-card">
        <img src="assets/qualityMetric.jpg" alt="image" />
      </p-card>
    </div>
    <div class="right-side">
      <p-card class="item-card1">
        <img src="assets/contactCenter.jpg" alt="image" />
      </p-card>
      <p-card class="item-card2">
        <img src="assets/recording.jpg" alt="image" />
      </p-card>
    </div>
  </div>
</div>