<p-toolbar class="justify-between items-center">
     <ng-template #start>
 
  <div class="flex items-center">
    <img src="https://frontend-old-green.vercel.app/AvangridLogo2.png" alt="Company Logo" class="logo" />
  </div>

    </ng-template>
    <ng-template #center>
 
    </ng-template>
    <ng-template #end>
    
 <p-button  icon="pi pi-home" severity="success" *ngIf="currentUrl === '/vpi'" (click)="navigateHomePage()"> </p-button>
         <p-splitButton 
         *ngIf="currentUrl === '/home'"
        class="split-button"
        label="Recordings are just a click away!!" 
         raised="true"
        [model]="items" 
        severity="warn">
      </p-splitButton>
      <p-button   *ngIf="currentUrl === '/home'" class="settings-icon" severity="warn" icon="pi pi-cog" (click)="menu.toggle($event)" aria-label="Settings" />
<p-menu #menu [popup]="true" [model]="userMenu"></p-menu>

    </ng-template>
</p-toolbar>
 
<div>
  
  <router-outlet></router-outlet>

</div>

 
